.form-input {
    padding: 12px;
  }

.form-input input {
box-sizing: border-box;
display: block;
width: 100%;
border-width: 1px;
border-style: solid;
padding: 16px;
outline: 0;
font-family: inherit;
font-size: 0.95em;
}

.form-input input[type="email"],
.form-input input[type="password"] {
background: #fff;
border-color: #bbb;
color: #555;
}


#input-title{
    color:#05a;
    text-transform: uppercase;
    font-size: 2vh;
    padding:13px;
}
