

.success-msg {
    padding: 20px;
    background-color: #4CAF50; /* Red */
    color: white;
    margin-bottom: 15px;
    width:25%;
    position:fixed;
    right:20px;
    bottom:0;
    border-radius: 10px;
    display: block;
  }
  
  .error-msg {
    padding: 20px;
    background-color: rgb(175, 76, 76); /* Red */
    color: white;
    margin-bottom: 15px;
    width:25%;
    position:fixed;
    right:20px;
    bottom:0;
    border-radius: 10px;
    display: block;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }