.table-row{
    border-width: 1px;
    border-color:#28d;
}
.table-row th{
    min-width: 100px;
    padding:20px;
    border-width: 1px;
    border-color:#28d;
}
.table-header{
    background-color:  #28d;
    color:white;
}
