.table-row{
    border-width: 1px;
    border-color:#28d;
}
.table-row th{
    min-width: 100px;
    max-width: 300px;
    padding:20px;
    border-width: 1px;
    border-color:#28d;
    word-break: break-all;

}
.table-row span{
    color:red;
    font-size: 13px;
    word-break: normal;

}
