.table-container{
    position: relative;
    padding: 20px;
    margin:auto;

}
.table-header th{
    background-color:  #28d;
    color:white;
    padding:20px 0;
    min-width: 100px;
}
.container{
    max-width: 100%;
    overflow: auto;
}
