.list-item
{
  padding: .5em;
  padding-right: 2.5em;	
  margin-bottom: .5rem;
  text-indent: 0.01px;
}
.list-item span{
  font-size: 30px;
  float:right;
  margin-right: -35px;
  color:rgb(104, 216, 104);
  margin-top: -7px;
}
.list-item:hover
{
  background-color: rgb(255, 85, 85);
  cursor: pointer;
  border-radius:10px;
}
.selected-option{
  background-color: rgb(200, 16, 16);
  cursor: pointer;
  border-radius:10px;
}