.pagination{
    width:50%;
    margin:auto;
    display:flex;
    margin-top:15px;
    
}
.page-button{
    width:80px;
    min-width: 80px;
    margin:5px;
    margin:auto;
}
.page-number{
    font-size:20px;
    text-align: center;
    color:#28d;
    font-weight: 800;
}