.form-container{
    width:50%;
    position: relative;
    padding:20px;
    margin:auto;
    text-align: center;
}
.form-container form{
    background-color: #ebebeb;
    padding: 2px;
}

.form-title{
    background: #252d37;
    padding: 7px;
    font-size: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}