.form-container{
    width:40%;
    position: relative;
    padding:20px;
    margin:auto;
    text-align: center;
}
.form-container form{
    background-color: #ebebeb;
    padding: 2px;
}

.form-title{
    background: #28d;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}