.headline-container{
    width:25%;
    background: #fff;
    margin-left: 5%;
    /* border:1px solid rgb(255, 255, 255); */
    margin-bottom:90px;
    transition: 0.3s;
    border-radius: 18px;
    text-align: center;
    position: relative;
}
.headline-text{
    height:500px;
    width:100%;
    max-width: 100%;
    overflow: auto;
}
#headline-date{
    color:gray;
    font-size: 13px;
    position: absolute;
    bottom: 60px;
}
#headline-content{
    height:30%;
    overflow: auto;
}
#headline-author{

  color:gray;
  font-size: 13px;
  position: absolute;
  bottom: 60px;
  right:5px;
  max-width:50%;
  max-height:10%;
  overflow: auto;
}
.headline-container h2{
    text-align: center;
    padding: 100px 20px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyNURlf-jEmALU0YbWIRcru1P8n5wl3QzoyQ&usqp=CAU");
    background-size: cover;
    color:white;
}
.headline-container button{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
  }
  #add-favorite button{
    background: #28d;
  }
  #add-favorite button:hover {
    background: #17c;
  }
  #add-favorite button:focus {
    border-color: #05a;
  }
  .headline-container:hover{
    transform: scale(1.05);
  }

  #remove-favorite button{

    background: rgb(221, 34, 34);
  }
  #remove-favorite button:hover {
    background: rgb(204, 17, 17);
  }
  #remove-favorite button:focus {
    border-color: rgb(170, 0, 0);
  }